<p id="notice"><%= notice %></p>

<p>
  <strong>Useragent:</strong>
  <%= @visit.useragent %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @visit.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @visit.long %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
