<p id="notice"><%= notice %></p>

<p>
  <strong>Useragent:</strong>
  <%= @visit.useragent %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @visit.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @visit.longitude %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
