
<h1>VisitrTrackr (beta)</h1>

<div id="the-result">
</div>

<div id="status">
</div>

<p><%= link_to "Visits", visits_path %></p>


<script src="geoPosition.js" type="text/javascript" charset="utf-8"></script>

<%= javascript_tag do %>
	var rloc_address = "<%= escape_javascript @location[:address] %>";
	var rloc_latitude = <%= @location[:latitude] %>;
	var rloc_longitude = <%= @location[:longitude] %>;
	var user_agent = "<%= escape_javascript @user_agent %>";
	
	$( "#the-result" ).html( 'You come from ' + rloc_address + ' (' + rloc_latitude + ',' + rloc_longitude + ') and your browser is: ' + user_agent );
	
	if (geoPosition.init()) {
		$( "#status").html("I can haz Geo!");
	} else {
		$( "#status").html("No Geo... :-(");
	}
<% end %>

